<form action="/uploadImg" method="POST" enctype="multipart/form-data">
    <label> Upload your image profile.
        <input type="file" name="imgUrl"/>
    </label>

    <button type="submit">Save</button>
</form>